<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="header">

    <header class="navbar navbar-fixed-top navbar-inverse">
      <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <nav class="nav navbar-left">
          <a class="navbar-brand" href="/">Bookers</a>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to user_path(current_user), class:"btn btn-dark" do %>
                <i class="fas fa-home"></i> Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to users_path, class:"btn btn-dark" do %>
                <i class="fas fa-users"></i> Users
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to books_path, class:"btn btn-dark" do %>
                <i class="fas fa-book-open"></i> Books
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-dark" do %>
                <i class="fas fa-sign-out-alt"></i> Log out
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to root_path, class:"btn btn-dark" do %>
                <i class="fas fa-home"></i> Home
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to about_path, class:"btn btn-dark" do %>
                <i class="fas fa-link"></i> About
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_registration_path, class:"btn btn-dark" do %>
                <i class="fas fa-user-plus"></i> Sign up
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to new_user_session_path, class:"btn btn-dark" do %>
                <i class="fas fa-sign-in-alt"></i> Log in
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="body">
      <p class="notice"><%= notice %></p>

      <%= yield %>
      <footer>
          <p class="text-center"> CopyRight Infratop.inc</p>
      </footer>
      </div>
  </body>
</html>
